:root{
    --color:red;
}

*{
    box-sizing: border-box;
}

.general{
    background-color: rgb(211, 211, 211);

}

.general__main{
    display: flex;
    margin: 1rem;
    background-color: rgb(238, 238, 210);
    flex-direction: column
   
}

.general__main__titulo{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

    
}

.general__main__form{
    display: flex;
    justify-content: center;
    padding-bottom: 3.5rem;
}

.general__main__form__cuadrotext{
    border-radius: 0.45rem;
    width: 15rem;
    padding: 0.5rem;
    margin-right: 2.5rem;
}

.general__main__form__boton{
    border-radius: 0.45rem;
    width: 10rem;
    background-color: rgb(24, 73, 24);
    color: antiquewhite;
}


/* clases js*/


.general__main__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    
.botonX{
    margin-left: 5rem;
    margin-left: 5rem;
    background-color: red;
    margin-bottom: 1rem;
    margin-bottom: 1rem;

}



.cajaX{
    display: flex;
    width: 30rem;
    width: 30rem;

}

.textoX{
    width: 20rem;
}

.textoX{
    width: 20rem;
}