.general{
    background-color: rgb(211, 211, 211);

}

.general__main{
    margin: 1rem;
    background-color: rgb(238, 238, 210);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.general__main__titulo{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

    
}

.general__main__form{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.general__main__form__cuadrotext{
    border-radius: 0.45rem;
    width: 15rem;
    padding: 0.5rem;
    margin-right: 2.5rem;
}

.general__main__form__boton{
    border-radius: 0.45rem;
    width: 10rem;
    background-color: rgb(24, 73, 24);
    color: antiquewhite;
}

.general__main__boton{
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: aqua;
    border-style: none;
}


/* clases js*/


.general__main__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    
    }
    
    
.botonX{
    margin-left: 5rem;
    background-color: red;
    margin-bottom: 1rem;

}


.cajaX{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

}

.textoX{
    width: 20rem;
}

.resaltar{
    background-color: chartreuse;
}